body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background-image: url(pic1.jpg);
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.loginbox {
	width: 320px;
	height: 420px;
	background:#000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}

.loginbox p {
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background:transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox button
{
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	background: cyan;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox button:hover
{
	cursor: pointer;
	background: blue;
	color: #000;
}
.loginbox a{
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
	color: darkgrey;
}
.loginbox a:hover
{
	color: blue;
}

.message {
	font-size: 13px;
}





