body {
	background-color: black;
}
#header {

}
img {
	width: 99.7%;
    height: 590px;
    border-radius: 20px 20px 20px 20px;
    border: 2px solid yellow;

}

.h1 img {
	width: 360px;
	height:440px;
	float: left;
}
.h1 h2 {
	color: yellow;
	float: right;
	width: 920px;
	height: 440px;
	background-color:black;
	border-radius: 2px solid yellow;
}
.h1 p {
	color: yellow;
	float: right;
	width: 920px;
	height: 440px;
	background-color:black;
	border-radius: 2px solid yellow;

}
.clear {
	clear: both;
}

.foto img {
     width: 300px;
     height: 200px;
     border: 4px solid yellow;
     padding: 10px;
   }

.footer {
	text-align: center;
}