body{
	background: darkgrey ;
	font-family: cambria;
}
.table {
	width: 390px;
	height: 470px;
	background:#000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 10px 30px;

}
.table h4{
 color: aqua;
 background:navy;
 padding: 10px;
border-radius: 5px;
}
.daftar button
{
	text-align: center;
	border: none;
	outline: none;
	width: 100%;
	height: 40px;
	background: aqua;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.daftar button:hover
{
	cursor: pointer;
	background: blue;
	color: #000;
}
.table td{
color: aqua ;
}
.table input {
	color: blue;
}